.headerDiv{
    height: 50px;
}

.topBar {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid blue; */
  /* height: 54px; */
  padding: 10px 0 10px 0;
  top: 0;
  left: 0;
  right: 0;
  /* height: 8%; */
  width: 100%;
}
.subscribeButton {
  padding: 10px 30px;
  font-size: 14px;
  color: white;
  background-color: #d60017;
  border: none;
  border-radius: 5px;
}
