

 /* LEFT SIDE CONTAINER */


.logoIcon{
    height: 20px;
    /* width: 100px; */
}



    /* HORIZONTAL LINE */

/* RIGHT SIDE */

.rightSideContainer{
    /* display: flex;
    flex-direction: column; */
    /* border: 2px solid green; */
    /* flex: 1 1 auto; */
    /* height: 100vh; */
    width: 81vw;
}


/* HERO SECTION */

.heroSection{
    /* border: 2px solid yellow; */
    /* height: 92%; */
    /* width: 81vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 74px;
    gap: 10px;
}
.headline{
    max-width: 640px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tryButton{
    display: flex;
    color: white;
    background-color: #D60017;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
}
.tryButton:hover{
    cursor: pointer;
}
.imageContainer{
    height: 50vh;
    width: 100%;
    /* object-fit: cover; */
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

